{% load static %}

<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>چت بات</title>
    <link rel="stylesheet" href="{% static 'css/chat-bot.css' %}">
</head>

<body>

    <div class="chat-box">
        <div class="info">
            <div class="card">
                <div class="name">
                    <p>
                        من همیار پیوند کلیه مجهز به هوش مصنوعی هستم. به من بگو چه کمکی از من می خواهی؟
                    </p>
                </div>
                <img src="{% static 'img/ai.jpg' %}" alt="profile" class="profile">
            </div>
        </div>
        <div id="messages" class="messages"></div>

        <div class="input-box">
            <input id="userInput" placeholder="چطور می توانم به شما کمک کنم؟" autocomplete="off" dir="rtl" />
            <button id="sendBtn">ارسال</button>
        </div>
    </div>

    <script src="{% static 'js/chat-bot.js' %}"></script>
</body>

</html>